{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "nodes": [{
        "role": "front",
        "container": {
            "type": "kvm",
            "image": "img-llny5dg7",
            "zone": "pek3a"
        },
        "cpu": {{cluster.front.cpu}},
        "memory": {{cluster.front.memory}},
        "instance_class": {{cluster.front.instance_class}},
        "count": {{cluster.front.count}},
        "services": {
            "start": {
                "order": 3,
                "cmd": "/opt/k2fuxi/start-all.sh"
            },
            "stop": {
                "cmd": "/opt/k2fuxi/stop-all.sh"
            }
        }
    },
    {
        "role": "mysql",
        "container": {
            "type": "kvm",
            "image": "img-kpl9rexp",
            "zone": "pek3a"
        },
        "count": {{cluster.mysql.count}},
        "cpu": {{cluster.mysql.cpu}},
        "memory": {{cluster.mysql.memory}},
        "instance_class": {{cluster.mysql.instance_class}}
    },
    {
        "role": "elasticsearch",
        "container": {
            "type": "kvm",
            "image": "img-z6ce900v",
            "zone": "pek3a"
        },
        "count": {{cluster.elasticsearch.count}},
        "cpu": {{cluster.elasticsearch.cpu}},
        "memory": {{cluster.elasticsearch.memory}},
        "instance_class": {{cluster.elasticsearch.instance_class}},
        "services": {
            "start": {
                "order": 3,
                "cmd": "/opt/k2fuxi/start.sh"
            },
            "stop": {
                "cmd": "/opt/k2fuxi/stop.sh"
            }
        }
    }]
}
