{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "nodes": [{
        "role": "authx",
        "container": {
            "type": "kvm",
            "image": "img-x1pruo7e",
            "zone": "pek3a"
        },
        "cpu": {{cluster.authx.cpu}},
        "memory": {{cluster.authx.memory}},
        "instance_class": {{cluster.authx.instance_class}},
        "count": {{cluster.authx.count}},
        "health_check": {
            "enable": true,
            "interval_sec": 60,
            "timeout_sec": 10,
            "action_timeout_sec": 30,
            "healthy_threshold": 3,
            "unhealthy_threshold": 3,
            "check_cmd": "/opt/authx/health.sh"
        },
        "services": {
            "start": {
                "order": 3,
                "cmd": "/opt/authx/start.sh"
            },
            "stop": {
                "cmd": "/opt/authx/stop.sh"
            }
        }
    },
    {
      "role": "postgres",
      "container": {
          "type": "kvm",
          "image": "img-ow3o2go5",
          "zone": "pek3a"
      },
      "count": {{cluster.postgres.count}},
      "cpu": {{cluster.postgres.cpu}},
      "memory": {{cluster.postgres.memory}},
      "health_check": {
          "enable": true,
          "interval_sec": 60,
          "timeout_sec": 10,
          "action_timeout_sec": 30,
          "healthy_threshold": 3,
          "unhealthy_threshold": 3,
          "check_cmd": "exit 0"
      },
      "instance_class": {{cluster.postgres.instance_class}}
    }
  ],
  "env": {"apiPort":{{env.authx.apiPort}},"docPort":{{env.authx.docPort}}}

}
