elasticsearch:
    endpoint: http://{{range $dir := lsdir "/hosts/elasticsearch"}}{{$ip := printf "/hosts/elasticsearch/%s/ip" $dir}}{{end}}:9200

spring:
  datasource:
    name: search-ds
    url: jdbc:mysql://{{range $dir := lsdir "/hosts/mysql"}}{{$ip := printf "/hosts/mysql/%s/ip" $dir}}{{end}}:3306/db_k2fuxi_corpus?useSSL=false&useUnicode=true&characterEncoding=utf8
    username: root
    password: passw0rd
    driver-class-name: com.mysql.jdbc.Driver

k2auth:
  shiro:
    filter-chain-definitions:
      - /anon1: anon
      - /anon2: anon
